## Hypothesis Testing

In [9]:
import statistics
import pandas as pd
import matplotlib
import numpy as np
import scipy
from scipy import stats
#2*statistics.t.cdf(1.412,df=49)

In [10]:
stats.t.cdf(2.23,df=79)

0.9857070911974259

In [11]:
# calculating T
(4-4.6)/(3/np.sqrt(50))

-1.4142135623730943

In [12]:
#calculating p value
# p value formula by default 2 tail

2*stats.t.cdf(4.949,df=49)
#find p values for all 20 days

1.9999907871194387

In [13]:
df = pd.read_excel(r'\DSA\Lab4\Lab 4_DSA.xlsx') 
df.tail()

    Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
19         NaN         NaN         16        4.4   0.942809      1.649
20         NaN         NaN         17        5.3   3.064129       1.99
21         NaN         NaN         18        6.1   4.949747       1.99
22         NaN         NaN         19        7.2   7.542472       9.71
23         NaN         NaN         20        6.5   5.892557      1.999

###### an outbreak of salmonella related illness was attributed to ice cream produced at a certain factory.Scientist measured the level of salmonella in 9 randomly sampled batches of ice cream
###### 0.593,0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418  (mpn/g)
###### is there evidence that the mean level of salmonella in the ice cream is greater than 0.3

In [14]:
data = pd.Series([0.593,0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418]) 
# nu = 0.3S

In [15]:
p = scipy.stats.ttest_1samp(data,0.3)[1]
p_value = p/2
p_value

0.029265164842448826

###### 6 subjects were given a drug (treatment group) and additional 6 subjects a placebo(control group) their reaction time to a stimulus was measured (miliseconds) we want to perform a 2 sample T test for compairing the means of treatment and 
###### Control groups: 91 87 99 77 88 91
###### Treat: 101 110 103 93 99 104

In [16]:
data_control = pd.Series([91,87,99,77,88,91]) 
# nu = 0.3S

In [17]:
p_control = scipy.stats.ttest_1samp(data_control,0.3)[1]
p_control

7.396498291949643e-07